<div class="card w-auto">
  <div class="card-body d-flex flex-column">
    <h4 class="card-title">
      {{ b_item.item.name }} 
      {{ b_item.item.price }}₽ 
      {{ b_item.quantity }} шт 
      <button class = "btn btn-primary mt-auto" type="submit" name="add_item" value="{{ b_item.item.id }}">
        +
      </button>
      <button class = "btn btn-danger mt-auto" type="submit" name="delete_item" value="{{ b_item.item.id }}">
        -
      </button>
    </h4>
  </div>
</div>